@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<SalesMovement>
@{
    ViewBag.Title = "MyOrders";
    Layout = "~/Views/Shared/_ConcubineLayout.cshtml";
}
<br />
<h2>Sipariş Geçmişi</h2>
<br />
@if (Model.Count() == 0)
{
    <h2 style="font-weight: bold; text-align: center; margin-top: 1%; color: blueviolet">Siparişiniz mevcut değil</h2>
}
else
{
    <table class="table table-bordered">
        <tr>
            <th>Ürün Adı</th>
            <th>Fiyat</th>
            <th>Tarih</th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Product.ProductName</td>
                <td>@x.Price ₺</td>
                <td>@Convert.ToDateTime(x.Date).ToString("dd/MM/yyyy hh:mm")</td>
            </tr>
        }
    </table>
}